@model IEnumerable<MvcWebIdentity.Entities.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ALU_NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALU_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALU_IDADE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALU_CURSO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ALU_NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALU_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALU_IDADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALU_CURSO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ALUNOID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ALUNOID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ALUNOID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
